<!-- Entity Addtion Modal -->
<style>
    input[type=text] {
        border-left: none !important;
        border-top: none !important;
        border-right: none !important;
        border: 1px solid #ccc;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        cursor: pointer;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    input:focus {
        outline: none;
    }

    .entity-choice {
        display: grid;
        grid-row-gap: 0.5rem;
        padding-top: 5px;
    }
</style>
<div class="modal-contents">
    <div class="modal-header">
        <h3>{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="select-entity">
            <div class="select-entity-type">
                <label>Page Type: </label>
                <input type="radio" id="entityType1" name="queue" value="Queue" ng-model="entityData.type">
                <label for="entityType1">Queue</label>
                <input type="radio" id="entityType2" name="detail" value="Detail" ng-model="entityData.type">
                <label for="entityType2">Detail</label>
            </div>
            <div class="entity-section" ng-show="entityData.entityType">
                <hr>
            </div>
            <div class="entity-choice" ng-show="entityData.type == 'Queue'">
                <div class="entity-queue-choice">
                    <input type="text" ng-readonly="true" ng-model="queue[0]" ng-click="closeModal(queue[0])" />
                </div>
            </div>
            <div class="entity-choice" ng-show="entityData.type == 'Detail'">
                <div class="entity-detail-choice">
                    <input type="text" ng-readonly="true" ng-model="detail[0]" ng-click="closeModal(detail[0])" />
                </div>
                <div class="entity-detail-choice">
                    <input type="text" ng-readonly="true" ng-model="detail[1]" ng-click="closeModal(detail[1])" />
                </div>
                <div class="entity-detail-choice">
                    <input type="text" ng-readonly="true" ng-model="detail[2]" ng-click="closeModal(detail[2])" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>