<style>
    .editor-heading>h1{
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
        padding-left: 15px;
    }
    .box{
        margin-left: 15px;
        width: 97%;
    }

    /*Stages Box Styling*/
    .stages{
        position: relative;
    }
    .add-stages{
        position: absolute;
        bottom: 2px;
        display: grid;
        grid-template-columns: 4.5fr 1.2fr;
        padding: 0px 7px;
    }
    .stage-item{
        position: relative;
        padding: 5px;
        /* text-align: center; */
        background: #ededed;
        margin: 2px;
        border-radius: 2px;
        font-size: 14px;
        border: 0.1px solid #d0d0d0;
        /* justify-items: center; */
        align-items: center;
        display: grid;
        grid-template-columns: 9fr 1fr;
        padding-left: 10px;
        cursor: pointer;
    }
    .design-section{
        position: relative;
    }
    .stages-list{
        position: relative;
        display: grid;
        overflow-y: scroll;
        max-height: 230px;
    }

    .draggable-box{
        position: relative;
        padding: 7px;
        text-align: center;
        background: #c1bfbf;
        margin: 5px;
        border-radius: 5px;
    }
    .stage-box,
    .ui-route-box,
    .dashboard-box{
        position: relative;
        display: grid;
        grid-template-rows: 0fr 3fr 0fr;
    }

    .stage-add-section,
    .ui-route-add-section,
    .dashboard-add-section{
        position: relative;
        bottom: 5px;
    }
    .empty-list-section{
        text-align: center;
        color: grey;
    }
    .icon {
        display: grid;
        grid-template-columns: 0.2fr 0.2fr;
        grid-column-gap: 0.5rem;
    }
    .stage-close,
    .stage-edit,
    .entity-close,
    .entity-edit{
        padding: 5px;
        /* margin-right: 10px; */
    }
    .schema-form-section>hr{
        margin-top: 10px;
    }
    
    /* UI Routes Box Styling*/
    .entity-item>p{
        margin: 2px;
    }
    .entity{
        position: relative;
    }
    .add-entities{
        position: absolute;
        bottom: 2px;
        display: grid;
        grid-template-columns: 4.5fr 1.2fr;
        padding: 0px 7px;
    }
    .entity-item{
        position: relative;
        padding: 8px;
        /* text-align: center; */
        background: #ededed;
        margin: 2px;
        border-radius: 2px;
        font-size: 14px;
        border: 0.1px solid #d0d0d0;
        /* justify-items: center; */
        align-items: center;
        display: grid;
        grid-template-columns: 9fr 1fr;
        /* padding-left: 10px; */
        cursor: pointer;
    }
    mark.gray{
        color:#808080;
        background: none;
    }

    /*Dashboard Box Styling*/
    .row{
        margin: 0 -5px;
    }
    .small-box{
        border-radius: 2px;
        position: relative;
        display: block;
        margin-bottom: 0px;
        box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
        cursor: pointer;
    }
    .small-box>.inner {
        padding: 10px;
    }
    .entity-item>li{
        display: block;
    }
    .small-box>h3 {
        font-size: 38px;
        font-weight: bold;
        margin: 0 0 10px 0;
        white-space: nowrap;
        padding: 0;
    }
    .small-box>p {
        white-space: nowrap;
        overflow: hidden;
        font-size: 16px !important;
    }
    .small-box-footer{
        position: relative;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        font-size: 2rem;
        text-align: center;
        margin-top: -2px;
        cursor: pointer;
    }
    .inner{
        display: grid;
        /* padding: 15px;
        grid-template-rows: 2fr 2fr;
        grid-row-gap: 0.5rem; */
    }
    .col-sm-2 {
        width: 25%;
    }
    .dashboard-item{
        position: relative;
        padding: 8px;
        /* text-align: center; */
        /* background: #ededed; */
        margin: 2px;
        border-radius: 2px;
        font-size: 14px;
        /* border: 0.1px solid #d0d0d0; */
        /* justify-items: center; */
        align-items: center;
        display: grid;
        /* grid-template-columns: 9fr 1fr; */
        /* padding-left: 10px; */
        cursor: default;
    }
    .edit-dashboard-icon,
    .remove-dashboard-icon{
        padding: 6px 6px;
    }
    .edit-dashboard-icon{
        background-color: green;
        color: white;
    }
    .remove-dashboard-icon{
        background-color: red;
        color: white;
    }
</style>

<div class="editor-heading">
    <h1>Stage Details</h1>
</div>
<div class="stage-definition">
    <div class="box box-theme">
        <div class="box-header with-border">
            <h3 class="box-title">Stages</h3>
        </div>
        <div class="box-body stage-box form-horizontal">
            <div>
                <div ng-if="data.stages.length == 0">
                    <h5 class="empty-list-section">Add a Stage</h5>
                </div>
                <div ng-if="data.stages.length > 0" class="stages-list">
                    <div class="stage-item {{stage.class}}" ng-click="selectStage($event,$index)" ng-repeat="stage in data.stages track by $index">
                        {{stage.name}} 
                        <div class="icon">
                            <span title="Edit stage" class="fa fa-pencil stage-edit" ng-click=editStage($event,$index)></span>
                            <span title="Remove stage" class="fa fa-close stage-close" ng-click=removeStage($event,$index)></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stage-add-section">
                <div class="schema-form-section">
                    <hr>
                </div>
                <div>
                    <button ng-click="newStage()" class="btn btn-theme"> <i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
        </div>
    </div> 
    <ui-view></ui-view>
</div>
<div class="ui-routes">
    <div class="box box-theme">
        <div class="box-header with-border">
            <h3 class="box-title">UI Routes</h3>
        </div>
        <div class="box-body ui-route-box">
            <div ng-if="data.routes.length == 0">
                <h5 class="empty-list-section">Add UI entity Routes</h5>
            </div>
            <div ng-if="data.routes.length > 0" class="entity-list">
                <div class="entity-item {{entity.class}}" ng-click="selectEntity($event,$index)" ng-repeat="entity in data.routes track by $index">
                    <p>{{entity.routeName}} | <mark class="gray">{{entity.routePath}}</mark></p>
                    <div class="icon">
                        <span title="Edit Entity" class="fa fa-pencil entity-edit" ng-click=editEntity($event,$index)></span>
                        <span title="Close Entity" class="fa fa-close entity-close" ng-click=removeEntity($event,$index)></span>
                    </div>
                </div>
            </div>
            <div class="ui-route-add-section">
                <div class="schema-form-section">
                    <hr>
                </div>
                <div>
                    <button ng-click="newEntity()" class="btn btn-theme"> <i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
            <!-- <div class="row" ng-if="routes.detail.routeDetails.length > 0 || routes.queue.routeDetails.length > 0">
                <div class="col col-xs-4 col-sm-2" ng-repeat="queue in routes.queue.routeDetails track by $index">
                    <div class="small-box bg-theme">
                        <div class="entity-item">
                            <div class="inner">
                                <h3><i class="fa fa-pencil-square-o" ng-click="editEntity($event,$index)"></i></h3>
                                <p>ScreeingQueue</p>
                                <p>{{routes.queue.type}}: {{queue.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-4 col-sm-2" ng-repeat="detail in routes.detail.routeDetails  track by $index">
                    <div class="small-box bg-theme">
                        <div class="entity-item">
                            <div class="inner">
                                <h3><i class="fa fa-pencil-square-o" ng-click="editEntity($event,$index)"></i></h3>
                                <p>ScreeingQueue- {{detail.path}}</p>
                                <p>{{routes.detail.type}}: {{detail.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>         -->
        </div>
    </div>
</div>
<div class="dashboard-definition">
    <div class="box box-theme">
        <div class="box-header with-border">
            <h3 class="box-title">Dashboard Definition</h3>
        </div>
        <div class="box-body dashboard-box">
            <div ng-if="data.dashboards.length == 0">
                <h5 class="empty-list-section">Add Dashboard</h5>
            </div>
            <div class="row" ng-if="data.dashboards.length > 0">
                <div class="col col-xs-2 col-sm-4 col-lg-4" ng-repeat="dashboardContents in data.dashboards track by $index">
                    <div class="small-box bg-theme">
                        <div class="dashboard-item">
                            <div class="inner">
                                <p>Title: {{dashboardContents.title}}</p>
                                <p>Show Count: {{dashboardContents.showCount}}</p>
                                <p>Box Set: {{dashboardContents.boxSet}}</p>
                            </div>
                            <!-- <div class="small-box-footer">
                                <span title="Edit Dashboard" class="fa fa-pencil-square-o edit-dashboard-icon" ng-click="editDashboard($event,$index)"></span>
                                <span title="Remove Dashboard" class="fa fa-times remove-dashboard-icon" ng-click="removeDashboard($event,$index)"></span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-add-section">
                <div class="schema-form-section">
                    <hr>
                </div>
                <div>
                    <button ng-click="newDashboard()" class="btn btn-theme"> <i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
        </div>
    </div>
</div>