<style>
    input[type=text]{
        border-left: none !important;
        border-top: none !important;
        border-right: none !important;
        border: 1px solid #ccc;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    input:focus{
        outline: none;
    }
    /* input[type=checkbox]{
        margin: 6px 0 0;
        height: 25px;
        width: 25px;
    } */
    .config-heading>h1 {
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
        padding-left: 15px;
    }
    .box{
        margin-left: 15px;
        width: 97%;
    }
    .entity-info,
    .config-info{
        display: grid;
    }
    .entity-options,
    .config-options{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-column-gap: 1.5rem;
    }
    .entity-input-field,
    .config-field{
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
    .config-section,
    .config-submit-section{
        padding-top: 20px;
    }
    .config-body>.box-header{
        padding-top: 0px;
    }
    .submit-button{
        padding: 10px;
    }
</style>

<div class="ui-entity-design">
    <div class="config-heading">
        <h1>Config Details</h1>
    </div>
    <div class="box box-theme">
        <div class="box-header with-border">
            <h3 class="box-title">Route Information</h3>
        </div>
        <div class="box-body entity-info-box form-horizontal">
            <div class="entity-info">
                <!-- <div class="entity-options entity-type">
                    <label class="entity-input-field">
                        Type
                    </label>
                    <input type="text" name="entityType" class="entity-type" ng-model="data.entities[data.entityIndex].type" required>
                </div> -->
                <div class="entity-options entity-name">
                    <label class="entity-input-field">
                        Name
                    </label>
                    <input type="text" name="entityName" class="entity-name" ng-model="data.entities[data.entityIndex].name" required>
                </div>
                <div class="entity-options entity-route-name">
                    <label class="entity-input-field">
                        Route Name
                    </label>
                    <input type="text" name="entityRouteName" class="entity-route-name" ng-model="data.entities[data.entityIndex].routeName" required>
                </div>
                <div class="entity-options entity-route-path">
                    <label class="entity-input-field">
                        Route Path
                    </label>
                    <input type="text" name="entityRoutePath" class="entity-route-path" ng-model="data.entities[data.entityIndex].routePath" required>
                </div>
            </div>
        </div>
    </div>
    <ui-view></ui-view>
</div>
<!-- <generic-queue data-entity="{title:'onemoretest'}"></generic-queue> -->
<!-- <generic-lead></generic-lead> -->
<div class="ui-entity-item" id="uiEntityContainer">

</div>