<!--Dashboard Addition Modal-->
<style>
    input[type=text] {
        border-left: none !important;
        border-top: none !important;
        border-right: none !important;
        border: 1px solid #ccc;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    select {
        border-left: none !important;
        border-top: none !important;
        border-right: none !important;
        border: 1px solid #ccc;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    input:focus,
    select:focus {
        outline: none;
    }

    .dashboard-choice {
        display: grid;
    }

    .dashboard-box-set,
    .dashboard-title {
        display: grid;
        grid-template-columns: 0.1fr 0.4fr;
        grid-column-gap: 2rem;
    }

    .dashboard-options {
        display: grid;
        grid-template-columns: 1.5fr 4fr;
        grid-column-gap: 1.5rem;
    }

    .dashboard-field {
        margin-bottom: 0px;
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }

    .select-show-count {
        display: grid;
        grid-template-columns: 1.5fr 4fr;
        grid-column-gap: 1.5rem;
    }

    .show-count-field {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }

    .show-count-radio {
        display: grid;
        grid-template-columns: 0.15fr 0.4fr 0.15fr 2fr;
        padding-top: 0.5rem;
    }

    .submit-button {
        margin-top: 1rem;
        margin-left: 4rem;
    }

    .select-route {
        margin-bottom: 0px;
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
        display: grid;
        grid-template-columns: 1.5fr 4fr;
        grid-column-gap: 1.5rem;
    }

    .select-route-name {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
</style>
<div class="modal-contents">
    <div class="modal-header">
        <h3>{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="dashboard-choice">
            <div class="dashboard-options dashboard-title">
                <label class="dashboard-field">Title </label>
                <input type="text" name="dashboardTitle" class="dashboard-title" ng-model="entityData.title" required>
            </div>
            <div class="select-show-count">
                <label class="show-count-field">Show Count </label>
                <div class="show-count-radio">
                    <input type="radio" id="choiceType1" name="show-count-yes" value="Yes"
                        ng-model="entityData.showCount">
                    <label for="choiceType1">YES</label>
                    <input type="radio" id="choiceType2" name="show-count-no" value="No"
                        ng-model="entityData.showCount">
                    <label for="choiceType2">NO</label>
                </div>
            </div>
            <div class="dashboard-options dashboard-box-set">
                <label class="dashboard-field">Box Set </label>
                <input type="text" name="dashboardBoxSet" class="dashboard-box-set" ng-model="entityData.boxSet"
                    required>
            </div>
            <div class="select-route">
                <label class="select-route-name">Entity Type </label>
                <div class="select-route-name">
                    <select ng-model="entityData.routes" name="route-name"
                        ng-options="route as route for route in routes">
                    </select>
                </div>
            </div>
            <div class="submit-button">
                <button class="btn btn-primary" ng-click="submitDashboardDetails()">Submit</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>