<div class="box box-theme">
    <div class="box-header with-border">
        <h3 class="box-title">Entity Information</h3>
    </div>
    <div class="box-body entity-info-box form-horizontal">
        <div class="config-section">
            <hr>
        </div>
        <div class="config-body">
            <div class="config-info">
                <div class="config-options config-title">
                    <label class="config-field">
                        Title
                    </label>
                    <input type="text" name="configTitle" class="config-title" ng-model="data.entities[data.entityIndex].config.title" required>
                </div>
                <div class="config-options config-search-title">
                    <label class="config-field">
                        Search Title
                    </label>
                    <input type="text" name="configTitle" class="config-search-title" ng-model="data.entities[data.entityIndex].config.search_title" required>
                </div>
                <div class="config-options config-api">
                    <label class="config-field">
                        API
                    </label>
                    <input type="text" name="configApi" class="config-api" ng-model="data.entities[data.entityIndex].config.api" required>
                </div>
                <div class="config-options config-per-page">
                    <label class="config-field">
                        Per Page
                    </label>
                    <input type="text" name="configPerPage" class="config-per-page" ng-model="data.entities[data.entityIndex].config.perPage" required>
                </div>
                <div class="config-options config-server-paginate">
                    <label class="config-field">
                        Server Paginate
                    </label>
                    <input type="checkbox" name="configServerPaginate" class="config-server-paginate" ng-model="data.entities[data.entityIndex].config.serverPaginate" required>
                </div>
                <div class="config-options config-paginate">
                    <label class="config-field">
                        Paginate
                    </label>
                    <input type="checkbox" name="configPaginate" class="config-paginate" ng-model="data.entities[data.entityIndex].config.paginate" required>
                </div>
                <div class="config-options config-page-length">
                    <label class="config-field">
                        Page Length
                    </label>
                    <input type="text" name="configPageLength" class="config-page-length" ng-model="data.entities[data.entityIndex].config.pageLength" required>
                </div>
                <div class="config-options config-target-type">
                    <label class="config-field">
                        Target Type
                    </label>
                    <input type="text" name="configTargetType" class="config-target-type" ng-model="data.entities[data.entityIndex].config.targetType" required>
                </div>
                <div class="config-options config-target-page-name">
                    <label class="config-field">
                        Target Page Name
                    </label>
                    <input type="text" name="configTargetPageName" class="config-target-page-name" ng-model="data.entities[data.entityIndex].config.targetPageName" required>
                </div>
                <div class="config-options config-target-param">
                    <label class="config-field">
                        Target Param
                    </label>
                    <input type="text" name="configTargetParam" class="config-target-param" ng-model="data.entities[data.entityIndex].config.targetParam" required>
                </div>
                <div class="config-options config-style">
                    <label class="config-field">
                        Style
                    </label>
                    <input type="text" name="configStyle" class="config-style" ng-model="data.entities[data.entityIndex].config.style" required>
                </div>
            </div>
            <div class="config-submit-section">
                <hr>
            </div>
            <div class="config-submit">
                <button ng-click="toConfig()" class="btn btn-theme">Submit</button>
            </div>
        </div>
    </div>
</div>
